// ################################################
// APP
// ################################################

// ------------------------------------------------
// MISC
// ------------------------------------------------

.group{
    @include group;
}
.img-fluid {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

// ------------------------------------------------
// GLOBAL
// ------------------------------------------------

html {
    font-size: 100%;
}

header{
    background: white;
    .navbar_logo{
        height: 60px;
        width: 130px;
        background: url(../img/logo.jpg)no-repeat center ; 
        -webkit-background-size: cover; /* pour anciens Chrome et Safari */
        background-size: cover;
    }
    .navbar-brand{
       text-transform: uppercase;
    }
    .navbar{
        background: white !important;
        .navbar-nav{
            text-align: center;
            @media (min-width: 768px) {
                margin-left: auto;
                margin-right: 0px;
            }
        }

        a{
            font-family: $font-family-1;
            text-transform: uppercase;
            font-weight: 500;

            &:hover{
                color: $color-1 !important;
            } 
            &.active{
                color: $color-1 !important;
            }
        }
    }
}
body{
    .presentation{
        text-align: center;
        padding: 20px 0 0 0;
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../img/garett-mizunaka-15709-unsplash.jpg)no-repeat center ; 
        -webkit-background-size: cover; /* pour anciens Chrome et Safari */
        background-size: cover; /* version standardisée */
        .svg_presentation{
            margin-bottom: -3px;
            @media (min-width: 400px) {
                margin-bottom: -0.5px;
            }
        }
        h2{
            color: white;
            font-style: italic;
            margin-bottom: 20px;
            font-family: $font-family-1;
            font-size: 17px;
        }
        h1{
            text-transform: uppercase;
            // font-size: 40px !important;
            color: white;
            margin-bottom: 20px;
            font-family: $font-family-1;
            font-weight: 600;

        }
        p{
            font-family: $font-family-2;
            color: white;
            margin-bottom: 20px;
        }
        .block_button{
            margin-bottom: 30px;
            .rdv_button{
                text-transform: uppercase;
                font-family: $font-family-1;
                font-weight: 500;
                background-color: $color-1;
                color: white;
                border: 2px solid $color-1;
                &:hover{
                    background-color: transparent;
                }
            }
            .contact_button{
                text-transform: uppercase;
                font-family: $font-family-1;
                font-weight: 500;
                background: none;
                color: white;
                border: 2px solid white;
                &:hover{
                    background-color: white;
                    color: $color-1;
                }
            }
        }
        @media (min-width: 768px) {
            padding: 100px 0px 0px 0px;
            text-align: left;
        }

    }
    .colaborator{
        background: red;
    }
    .our_prestation{
        // text-align: center;
        .block_title{
            height: 70px;
            margin-top: -10px;
            .content{
                width: 280px;
                margin: auto;
                position: relative;
                h3{
                    font-family: $font-family-1;
                    font-weight: 600;
                    left: 0;
                    right: 0;
                    position: absolute;
                    text-transform: uppercase;
                    color: darkslategrey;
                    margin: 20px 0;
                    z-index: 4;     
                }
                &:before{
                    content: "";   
                    position: absolute; 
                    transform: rotate(130deg);
                    display: block;
                    width: 35px;
                    height: 3px;
                    margin-left: -17px;
                    margin-top: 29px;
                    background-color: $color-1;
                    z-index: 2;
                }
                &:after{
                    content: "";
                    position: absolute; 
                    transform: rotate(130deg);
                    display: block;
                    width: 35px;
                    height: 3px;
                    margin-left: -8px;
                    margin-top: 29px;
                    background-color: $color-1;
                    z-index: 3;
                }
            }
            @media (min-width: 768px) {
                .content{
                    margin: 0px;
                }
            }
        }
        p{
            color: darkslategrey;
        }
        .block_prestation{
            margin-bottom: 20px;
            .content{

                -moz-box-shadow: 0px 0px 5px 5px #cfcfcf;
                -webkit-box-shadow: 0px 0px 5px 5px #cfcfcf;
                -o-box-shadow: 0px 0px 5px 5px #cfcfcf;
                box-shadow: 0px 0px 5px 5px #cfcfcf;
                filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=NaN, Strength=5);
                .logo{
                    padding: 10px;
                    margin: auto;
                    width: 110px;
                    height: 110px;
                    img{
                        max-width: 100%;
                    }
                }
                .title{
                    font-family: $font-family-1;
                    font-weight: 600;
                }
                .text{
                    font-family: $font-family-2;
                    padding: 5px;
                }
            }
            @media (min-width: 768px) {
                .content{
                    .title{
                        padding-left: 15px;
                    }
                    .text{
                         text-align: left;
                         padding: 5px 15px 15px 15px !important;
                    }
                }
            }
        }
        
        
    }
    .form_section{
        padding: 30px 0;
        text-align: center;
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(../img/chad-kirchoff-202730-unsplash.jpg)no-repeat center ; 
        -webkit-background-size: cover; /* pour anciens Chrome et Safari */
        background-size: cover; /* version standardisée */
        h1{
            color: white;
            text-transform: uppercase;
            margin-bottom: 20px;
            font-family: $font-family-1;
            font-weight: 600;
        }
        .ask{
            color: white;
            
        }
        .answer{
            margin-bottom: 20px;
            color: white;
            .color{
                color: $color-1;
            }
        }
        .block_button{
            margin-top: 30px;
            .rdv_button{
                text-transform: uppercase;
                font-family: $font-family-1;
                font-weight: 500;
                background-color: $color-1;
                color: white;
                border: 2px solid $color-1;
                &:hover{
                    background-color: transparent;
                }
            }
            .contact_button{
                text-transform: uppercase;
                font-family: $font-family-1;
                font-weight: 500;
                background: none;
                color: white;
                border: 2px solid white;
                &:hover{
                    background-color: white;
                    color: $color-1;
                }
            }
        }
        @media (min-width: 768px) {
            .form_ask{
                margin: auto;
            }
        }
    }

    .mustField{
        color: red;
        padding-top: 0.5em;
    }

    .item-form{
        margin-bottom: 1em;
    }

    .send-mail{
        background-color: $color-1;
        color: white;
        border: 2px solid $color-1;
        &:hover{
            background-color: transparent;
            color: black;
        }
    }

    .successFullMailSent{
        position: absolute;
        margin: 80% 10% 10%80%;
    }
    
    .btn-sending{
        text-transform: uppercase;
        font-family: $font-family-1;
        font-weight: 500;
        background-color: $color-1;
        color: white;
        border: 2px solid $color-1;
        &:hover{
            background-color: transparent;
            border: 2px solid $color-1;
            color: $color-1;
        }
}

}
footer{
    text-align: center;
    background: black;
    span{
        color: white;
    }
}


// @media (min-width: $screen-sm) {
// }
//  @media (min-width: $screen-md) {
// }