// ################################################
// APP
// ################################################

// ------------------------------------------------
// MISC
// ------------------------------------------------

.group{
    @include group;
}
.img-fluid {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

// ------------------------------------------------
// GLOBAL
// ------------------------------------------------

html {
    font-size: 100%;
}

header{
    .navbar{
        a{
            text-transform: uppercase;
            &:hover{
                color: $color-1 !important;
            } 
            &.active{
                color: $color-1 !important;
            }
        }
    }
}
body{
    .presentation{
        text-align: center;
        padding: 20px 0;
        background: url(../img/garett-mizunaka-15709-unsplash.jpg)no-repeat center ; 
        -webkit-background-size: cover; /* pour anciens Chrome et Safari */
        background-size: cover; /* version standardisée */

        h2{
            color: white;
            font-style: italic;
        }
        h1{
            font-size: 40px !important;
            color: white;
        }
        p{
            color: white;
        }
        .rdv_button{
            background-color: $color-1;
            color: white;
            border: 2px solid $color-1;
            &:hover{
                background-color: transparent;
            }
        }
        .contact_button{
            background: none;
            color: white;
            border: 2px solid white;
            &:hover{
                background-color: white;
                color: $color-1;
            }
        }
    }
    .colaborator{
        background: red;
    }
    .our_prestation{
        text-align: center;
        .block_title{
            position: relative;
            height: 70px;
            &:before{
                content: "";   
                position: absolute; 
                transform: rotate(140deg);
                display: block;
                width: 30px;
                height: 3px;
                margin-left: 1.8em;
                margin-top: 2.0em;
                background-color: $color-1;
                z-index: 2;
            }
            &:after{
                content: "";
                position: absolute; 
                transform: rotate(140deg);
                display: block;
                width: 30px;
                height: 3px;
                margin-left: 1.8em;
                margin-top: 2.5em;
                background-color: $color-1;
                z-index: 3;
            }
            h3{
                left: 0;
                right: 0;
                position: absolute;
                text-transform: uppercase;
                color: darkslategrey;
                margin: 20px 0;
                z-index: 4;     
            }
        }
        p{
            color: darkslategrey;
        }
    }
    .form_section{
        padding: 30px 0;
        text-align: center;
        background: url(../img/chad-kirchoff-202730-unsplash.jpg)no-repeat center ; 
        -webkit-background-size: cover; /* pour anciens Chrome et Safari */
        background-size: cover; /* version standardisée */
        h1{
            color: white;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        .ask{
            color: white;
            
        }
        .answer{
            margin-bottom: 20px;
            color: white;
            .color{
                color: $color-1;
            }
        }
        .rdv_button{
            background-color: $color-1;
            color: white;
            border: 2px solid $color-1;
            &:hover{
                background-color: transparent;
            }
        }
        .contact_button{
            background: none;
            color: white;
            border: 2px solid white;
            &:hover{
                background-color: white;
                color: $color-1;
            }
        }
    }
}
footer{
    text-align: center;
    background: black;
    span{
        color: white;
    }
}