// ---------------------------------------------------------
// Mixins
// ---------------------------------------------------------

@mixin font-size($size) {
    font-size: #{$size}px; //Fallback in px 
    font-size: calculate-rem($size);
}

@mixin hover {
    &:hover, &:focus {
        @content;
    }
}

@mixin group {
    &:after {
        content: '';
        display: table;
        clear: both; 
    }
}
