// ---------------------------------------------------------
// Variables
// ---------------------------------------------------------

$img-path: 'images/' !default;

$color-1: #FFB80E !default;
$color-2: #EDEDED !default;
