// ---------------------------------------------------------
// Variables
// ---------------------------------------------------------

$img-path: 'images/' !default;

$color-1: #FFB80E !default;
$color-2: #EDEDED !default;

@import url('https://fonts.googleapis.com/css?family=Montserrat|Oswald');

$font-family-1: 'Oswald', sans-serif;
$font-family-2: 'Montserrat', sans-serif;